.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 1rem; /* Unidade relativa */
  font-weight: 600;
  margin: 60px 5%; /* Margem relativa */
  text-transform: capitalize;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
  .breadcrum {
    font-size: 0.9rem; /* Tamanho de fonte menor */
    margin: 30px 3%; /* Margem ajustada */
  }
}

@media (max-width: 480px) {
  .breadcrum {
    font-size: 0.8rem; /* Tamanho de fonte ainda menor */
    margin: 20px 2%; /* Margem ainda mais ajustada */
  }
}
