.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh; /* Altura relativa */
}

.relatedproducts h1 {
  color: #171717;
  font-size: 3.125rem; /* Unidade relativa */
  font-weight: 600;
}

.relatedproducts hr {
  width: 200px; /* Considere usar uma largura relativa ou ajustar em media queries */
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.relatedproducts-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap; /* Permite que os itens quebrem em uma nova linha em espaços pequenos */
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
  .relatedproducts h1 {
    font-size: 2.5rem; /* Reduzir o tamanho da fonte para telas menores */
  }

  .relatedproducts hr {
    width: 150px; /* Ajustar a largura do hr */
  }

  .relatedproducts-item {
    gap: 20px; /* Reduzir o espaço entre os itens */
  }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
  .relatedproducts h1 {
    font-size: 2rem; /* Tamanho de fonte ainda menor para telas muito pequenas */
  }

  .relatedproducts-item {
    flex-direction: column; /* Coluna para telas muito pequenas */
  }
}
